<!DOCTYPE html>
<html lang="en">
<html xmlns: th="http://www.thymeleaf.org">
<head>
    <title>Getting Started; Serving Web Content</title>
    <meta http-equiv="Content-Type"  content="text/html";  charset=UTF-8" />
</head>
<body>
<h1 th:text ="'Hello Guest !'" />
<h1/>
<p>
I wish everyone a happy life.
</p>
<img src= "https://natureconservancy-h.assetsadobe.com/is/image/content/dam/tnc/nature/en/photos/z/u/Zugpsitze_mountain.jpg?crop=0%2C214%2C3008%2C1579&wid=1200&hei=630&scl=2.506666666666667" height="600" width="600"/>
</body>
</html>